<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated manufacturing -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Manufacturing.presentation.ManufacturingModelWizardID"
            name="%_UI_ManufacturingModelWizard_label"
            class="Manufacturing.presentation.ManufacturingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ManufacturingModelFile.gif">
         <description>%_UI_ManufacturingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated manufacturing -->
      <editor
            id="Manufacturing.presentation.ManufacturingEditorID"
            name="%_UI_ManufacturingEditor_label"
            icon="icons/full/obj16/ManufacturingModelFile.gif"
            extensions="manufacturing"
            class="Manufacturing.presentation.ManufacturingEditor"
            contributorClass="Manufacturing.presentation.ManufacturingActionBarContributor">
      </editor>
   </extension>

</plugin>
